.vegas-container {
    position: absolute !important;
    height: 100vh !important;
}

html, body {
    overflow: hidden;
    line-height: 1.2 !important;
    font-family: 'Poppins' !important;
}

/*BACKGROUND CONTAINER (left side)*/
.background-img {
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/c8/UMak_Oval.jpg');
    height: 100vh;
    width: 60vw;
    left: 0px;
    top: 0px;
    position: absolute;
    opacity: 0.9;
    background-size: cover;
    background-position-x: center;
}

.background-container {
    position: absolute;
    display: table;
    height: 100vh;
    padding: 0px 40px;
    width: 60vw;
    z-index: 1;
    background: linear-gradient(transparent, rgba(0,0,0,0.5));
}

    .background-container .header-logo {
        display: block;
        position: absolute;
        top: 40px;
        text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .background-container .slideshow-text {
        display: table-cell;
        vertical-align: bottom;
        color: white;
        padding: 0px 5px;
    }

    .background-container .Title, .Subtitle {
        display: inline-block !important;
        opacity: 0;
        left: -20px;
        position: relative;
        transition: 0.5s all ease;
    }

        .background-container .Title.show, .Subtitle.show {
            opacity: 1;
            left: 0px;
        }

/*LOGIN CONTAINER (right side)*/
.login-container {
    height: 100vh;
    width: 40vw;
    right: 0px;
    position: absolute;
    display: table;
    overflow: hidden;
    z-index: 2;
    background: #f4f3f7;
    box-shadow: -6px 0px 10px -4px rgba(0, 0, 0, 0.4);
}

    .login-container .login-logo {
        margin: auto;
        padding: 20px calc(8vw);
    }

.div-controls {
    padding: 0px 9vw;
}

option {
    background-color: #fff;
    color: #333;
}


.panel {
    background-color: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #e8eaeb;
    z-index: 2;
}

    .panel:hover {
        box-shadow: 0 6px 4px -1px rgba(0, 0, 0, 0.3);
        transition: 0.2s all ease;
        cursor: pointer;
        -webkit-filter: saturate(2);
    }

a:hover {
    text-decoration: none !important;
}


/*LOGIN BYPASS*/
/* .form-control {
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    margin: 5px 0px;
    background: #fff !important;
    padding: .9rem 1rem !important;
    height: auto !important;
} */


/*GOOGLE LOGIN*/
.login-container .google-button {
    height: 60px;
    width: 320px;
    border-radius: 30px;
    margin: 30px 0px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
    transition: all ease 0.1s;
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
    transition: 0.1s all ease-in;
}

    .login-container .google-button:hover {
        transform: scale(0.98);
    }

/*FOOTER*/
.login-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    padding: 0 15%;
    font-size: 14px;
    width: 100%;
}



@media only screen and (max-width: 991px) {
    .background-img {
        height: 100% !important;
        width: 100vw;
        opacity: 0.5;
    }

    .background-container {
        width: 100vw;
        /*height: 45vh;*/
        height: 100%;
        padding: 20px;
    }

        .background-container .header-logo {
            transition: all ease 0.2s;
            /*display: table;*/
            display: none;
            top: calc(0px - 20px);
            left: 0px;
            height: 100%;
            width: 100%;
            text-align: center;
        }

        .background-container .row {
            display: table-cell;
            vertical-align: middle;
        }

        .background-container .slideshow-text {
            display: none;
        }

    .login-container {
        width: 100vw;
        height: 100%;
        bottom: 0px;
        text-align: center;
        background: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgb(255, 255, 255));
    }

        .login-container .row {
            margin-top: 0px !important;
        }

        .login-container .login-logo {
            width: auto;
            padding: 0px;
            height: 160px;
        }

    .div-controls {
        padding: 0px 20px;
        height: 210px;
    }

    .chat-popup {
        bottom: 0.5rem !important;
        right: 0.5rem !important;
        width: 90%;
    }

    .chat-btn {
        right: 0.5rem !important;
        bottom: 0.5rem !important;
        width: 50px !important;
        height: 50px !important;
    }

    #toaster {
        position: fixed !important;
        bottom: 3rem !important;
        right: 4rem !important;
    }

}

@media only screen and (max-width: 500px){
    .chat-popup {
        bottom: 0.5rem !important;
        right: 0.5rem !important;
        width: 97% !important;
    }
}

.offline {
    width: 100vw;
    background: #607D8B;
    z-index: 3;
    bottom: 0;
    position: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

section {
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
}

p {
    font-size: 1rem;
}


button {
    border: none;
    outline: none;
    cursor: pointer;
}

.chat-btn {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background: #28546c;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
    transition: top ease 1s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}


    .chat-btn:hover, .submit:hover {
        opacity: 1;
        /*transform: translate(0, -5px);*/
        box-shadow: 0 5px 5px rgba(0.4,0.4,0.4,0.4);
    }

#chat-minimize:hover {
    transform: translate(0, -3px);
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 120px;
    height: 500px;
    width: 400px;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
}

#toaster {
    position: fixed;
    bottom: 5rem;
    right: 6.5rem;
    height: 50px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    align-content: center;
    z-index: 200000;
}

.chat-area {
    height: 91%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 0.5rem;
}

.card-header {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    background-color: #28546c !important;
}

#chat-reset:hover {
    transform: translate(0, -3px);
}