@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Metropolis-Regular.ttf) format('ttf');
  }

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Helvetica-400.ttf) format('ttf');
}

html, body, h1, h2,h3, h4, h5, h6 {
    font-family: 'Marcellus', serif !important;
}

body{
    font-family: 'Marcellus', serif !important;
}   

p {
    font-family: 'Metropolis', serif !important;
}

.gallery-bg {
  background-image: url('img/BG1-Black.png') !important;
  background-repeat: repeat-y !important;
  height: 100vh !important;
}

.button-color{
  background-color: black !important;
  color: #948601 !important;
}

.button-color:hover{
  background-color: #948601 !important;
  color: black !important;
}

.footer-link{
  color: white !important;
  text-decoration: none !important;
}

.footer-icon{
  
}

.footer-link:hover, .footer-icon:hover{
  color: #F2EC26 !important;
}



